DB_HOST="10.252.23.65"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="elearning"

GOOGLE_AUTH_CALLBACK_URL="http://localhost:3000/login/callback"
MOODLE_BASE_URL="https://elearning.pnj.ac.id"

# Comma-separated list of allowed emails. Leave empty to allow all authenticated users.
ALLOWED_EMAILS="admin@pnj.ac.id,user@pnj.ac.id"